.col-content-aptitude {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(199, 199, 199);
    margin-top: 7.2vh;
    margin-left: 17%;
    height: 100%;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.div-content-aptitude {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 97%;
    width: 98%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.row-content-aptitude {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    height: 100%;
}

.row-content-aptitude-true {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    height: 92.8vh;
}



 

.div-aptitude {
    width: 100%;
    height: 230px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;


}

.content-background-center {
    background-color: rgb(209, 209, 209);
    width: 70%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.content-background-center p {
    font-size: 17px;
}

.indent {
    text-indent: 20px;
    /* ระยะห่างของการย่อหน้า */
}

  
.icon {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.icon img {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    cursor: pointer;
}

.div-button-loading-aptitude {
    height: 65.3vh;
    position: absolute;
    width: 81.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;

}

.div-button-loading-aptitude button {
    height: 50px;
    width: 150px;

}


.div-alert-delete {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* กรอบทำให้ alert อยู่ตรงกลาง */
}

.gray-background {
    background-color: rgb(196, 195, 195);
    margin: -3.1% -2% -1.0% -1%;
    padding-bottom: 1%;
    opacity: 0.6;
    z-index: 9;
    padding-top: 3.1%;
    padding-left: 1%;
    z-index: 9;
}

.alert-delete {
    width: auto;
    height: 265px;
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    border: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 100;
}

.alert-delete-success {
    width: 390px;
    height: 265px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -55%);
    border: 0px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.alert-delete section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.alert-delete-success section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.alert-delete p {
    color: rgb(110, 110, 110);
    line-height: 4;

}

.alert-delete-success p {
    color: rgb(110, 110, 110);
    line-height: 4;
}

.alert-delete img {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 80px;
    width: 80px;

}

.alert-delete-success img {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 80px;
    width: 80px;

}


.alert-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.alert-button button {
    width: 100px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;

}


/*****************************************/
.row-content-aptitude-add {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    height: 92.8vh;
  }
  
  .col-content-aptitude-add {
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(199, 199, 199);
    margin-top: 7.2vh;
    margin-left: 17%;
    height: 100%;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-content-aptitude-add {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 97%;
    width: 98%;
  }
  
  .div-editaptitude {
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-left: 2%;
    height: 20%;
    display: flex;
    align-items: center;
    /* ตรงกลางแกน Y */
  }
  
  .text-aptitude {
    margin-left: 2%;
    font-size: 30px;
  }
  
  .img-edit {
    width: 70px;
    height: 70px;
  }
  
  .div-form {
    margin-left: 2%;
    width: 100%;
    height: 500px;
  }
  
  .div-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
  }
  
  .div-label {
    margin-right: 10px;
  }
  
  .pre-label {
    font-size: 22px;
  }
  
  .div-form-control {
    width: 40%;
  }
  
  .div-button {
    display: flex;
  }
  
  .button-save {
    margin-right: 5px;
    height: 40px;
    width: 100px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-cancel {
    margin-left: 5px;
    height: 40px;
    width: 100px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .alert-danger {
  
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-loading-addedit {
    height: 50px;
    width: 150px;
    top: 50%;
    position: absolute;
    left: 50%;
    padding-bottom: 15%;
  }
  
  .div-loading-addedit button{
    height: 50px;
    width: 150px;
  }
  
  
  
  